# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [61]:
Data_1="Hello World"
print(Data_1)

Hello World

In [99]:
message="Welcome to programing with Python"
print(message)

Welcome to programing with Python

### Print a message

In [106]:
_Data1="hello"
print(_Data1)

hello

In [107]:
_data1="Welcome to Programing with Python"
print(_data1)

Welcome to Programing with Python

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [108]:
simplemessage="today 1/11/23 at 9:20"
print(simplemessage)

today 1/11/23 at 9:20

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [6]:
""

''

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
# make uppercase
message="Python programming language"
message.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [81]:
# make lowercase
message.lower()

'python programming language'

In [82]:
# capitalize
message="python programming language "
message.capitalize()

'Python programming language '

In [83]:
# title
message.title()

'Python Programming Language '

In [88]:
# Concatination
print("Welcome to "+ message.lower())

Welcome to python programming language

In [79]:
# length
len(message)

33

In [105]:
name="John"
print("Hello "+name+ " how are you?")

hello John how are you?

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [95]:
name='John'
print('Hello '+name+" what are you having for lunch?")

Hello John what are you having for lunch?

In [92]:
print('My friends name is lower case '+name.lower())

My friends name is lower case john

In [96]:
print('My friends name is lower case '+name.upper())

My friends name is lower case JOHN

In [97]:
print('My friends name is lower case '+name.title())

My friends name is lower case John

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [26]:
print('Insert a newline character in a string. \nWhen the string is displayed, \nfor each newline, \nmove the screen cursor to the beginning of the next line.')

Insert a newline character in a string.
When the string is displayed,
for each newline,
move the screen cursor to the beginning of the next line.

In [27]:
print('Insert a horizontal tab. \tWhen the string is displayed, \tfor each tab, \tmove the screen cursor to the next tab stop.')

Insert a horizontal tab. 	When the string is displayed, 	for each tab, 	move the screen cursor to the next tab stop.

In [101]:
print("his name is \'Eric\'")

his name is 'Eric'

In [102]:
print("his name is \"Eric\" ")

his name is "Eric"

In [4]:
print("list of chapters: \n\tString \n\t List \n\t")

list of chapters:
	String
	 List

## Useful methods for split a string

In [12]:
print(message1)

wordstospilt

In [15]:
message1="words to spilt"
message1.split(sep=" ")

['words', 'to', 'spilt']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [38]:
message = " Programming Language "

In [39]:
message.strip()

'Programming Language'

In [40]:
message.lstrip()

'Programming Language'

In [41]:
message.rstrip()

' Programming Language'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [63]:
name=" S\t\nA\t\nW\t\nY\t\nE\t\nR "
print(name)

 S
A
W
Y
E
R

In [76]:
name.lstrip()

'S\t\nA\t\nW\t\nY\t\nE\t\nR '

In [52]:
name.rstrip()

' S\t\nA\t\nW\t\nY\t\nE\t\nR'

In [53]:
name.strip()

'S\t\nA\t\nW\t\nY\t\nE\t\nR'

#### Replacing words or characters of a string

In [54]:
message1="Python Programming Language"
print(message1)

Python Programming Language

In [57]:
message1.replace("Python","Java")

'Java Programming Language'

In [59]:
message2=message1.replace("Python","Java")
print(message2)

Java Programming Language

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [9]:
3+.55

3.55

In [10]:
6-.34

5.66

In [11]:
5*.25

1.25

In [14]:
print("the exponent:",2**3)

the exponent: 8

In [15]:
print("the exponent of 5 square is:",5**2)

the exponent of 5 square is: 25

In [18]:
print("true division",10/4)

true division 2.5

In [19]:
print("flow division",7//2)

flow division 3

In [20]:
print("the modulo remainder", 3%2 )

the modulo remainder 1

In [21]:
print("the modulo remainder", 15%3)

the modulo remainder 0

## Avoiding Type Errors with the str() Function

In [28]:
age=21
name="Ella"
print("The age of "+name+" is "+str(age))

The age of Ella is 21

In [33]:
print("The age of",name,"is",str(age))

The age of Ella is 21

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [34]:
print("the addition is", 53+38)

the addition is 91

In [35]:
print("the subtraction is", 100-9)

the subtraction is 91

In [36]:
print("the multiplication is", 182*.5)

the multiplication is 91.0

In [37]:
print("the division is", 182/2)

the division is 91.0

In [1]:
number=33
print("my favorite number is",str(number))

my favorite number is 33

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [2]:
flower_favorite=input("enter your favorite flower's name: " )

enter your favorite flower's name: rose

In [4]:
type(flower_favorite)

str

In [6]:
fav_number=input("enter your favorite number: ")

enter your favorite number: 3

In [7]:
type(fav_number)

str

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [6]:
fav_number=int(input("Enter your favorite number:"))

Enter your favorite number:33

In [8]:
type(fav_number)

int

In [7]:
number=float(input("enter a real number/ floating point number: "))

enter a real number/ floating point number: 33

In [9]:
type(number)

int

## Checking the data type using `type` function

In [5]:
number=20
name="john"
print(type(number))
print(type(name))

<class 'int'>
<class 'str'>

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [3]:
print("this is an error message")

this is an error message

In [4]:
len("hello)=5

SyntaxError: EOL while scanning string literal (2061724461.py, line 1)

In [10]:
1=python

SyntaxError: cannot assign to literal (1242767670.py, line 1)

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [1]:
15/0

ZeroDivisionError: division by zero

In [2]:
amount=int(input("enter the total amount before tax: "))
tax=8.6
print("the total loss is: ", amount*tax+amount)

enter the total amount before tax: 10
the total loss is:  96.0

In [9]:
amount=int(input("enter the total amount before tax: "))
tax+8.6
print("the total loss is: ", amount*tax+amount)

enter the total amount before tax: 3

NameError: name 'tax' is not defined

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [2]:
number1=int(input("enter a integer number: "))
number2=float(input("enter a integer number: "))
int("the multiplication of number1 and number2 is:"number1+number2)

SyntaxError: invalid syntax (799452914.py, line 3)

In [5]:
number1=int(input("enter a integer number: "))
number2=float(input("enter a integer number: "))
int("the multiplication of number1 and number2 is:",number1*number2)

enter a integer number: 2
enter a integer number: 3

TypeError: 'float' object cannot be interpreted as an integer